{% extends "layout.html" %}

{% block login %}

  <div class="box">

    {% include "login.html" %}

  </div>

{% endblock %}

{% block content %}
  <div class="box">
    <h3 style="margin-top: 0; margin-bottom: 0.5em;">Create New Page</h3>
    <p style="margin-top: 0;">In Notebook "{{notebook.title}}"</p>
    <form action="/notebook/{{notebook.id}}/new_page" method="post">
      <input type="text" name="title" id="page-name-field" style="width: 90%;" placeholder="page title" >
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <br>
      <br>
      <div>
        <input type="submit" value="Create new">
        <button onclick="back(event)">Cancel</button>
      </div>
    </form>
  </div>

  <script>
    function back(event) {
      event.preventDefault()
      window.location.href = '/notebook/{{notebook.id}}'
    }
  </script>
{% endblock %}
