{% extends "layout.html" %}

{% block login %}

  <div class="box">

    {% include "login.html" %}

  </div>

{% endblock %}

{% block content %}
  {% if session.username %}
    <div class="box">
      <div style="display: flex; justify-content: space-between; padding-bottom: 1em;">
        <h2 style="margin: 0">My Notebooks</h2>
        <button onclick="new_notebook()">Create new notebook</button>
      </div>
    
      <div class="notelist">
        {% for notebook in notebooks %}
          <div name="{{notebook[0]}}" onclick="open_notebook('{{notebook[0]}}')">
            <hr>
            <p class="notebook-box">{{ notebook[1]|e }}</p>
          </div>  
        {% endfor %}
      </div>
    </div>

    <div class="box">
      <h2 style="margin-top: 0">Notebooks Shared With Me</h2>
      
      <hr>
      <div class="notelist">
        {% for notebook in shared_notebooks %}
          <div name="{{notebook[0]}}" onclick="open_notebook('{{notebook[0]}}')">
            <hr>
            <p class="notebook-box">{{ notebook[1]|e }}</p>
          </div>  
        {% endfor %}
      </div>
    </div>

    <script>
      function open_notebook(notebook_id) {
        window.location.href = `/notebook/${notebook_id}`
      }

      function new_notebook() {
        window.location.href = `/new/notebook`
      }
    </script>
  {% endif %}
{% endblock %}