{% extends "layout.html" %}

{% block login %}

  <div class="box">

    {% include "login.html" %}

  </div>

{% endblock %}

{% block content %}
  {% if session.username %}
    <div class="box">
      <div style="display: flex; justify-content: space-between;">
        <h3 style="margin-top: 0">My Notebooks</h3>
        <form action="/new/notebook" method="get">
          <input type="submit" value="Create new">
        </form>
      </div>
    
      <div class="notelist">
        {% for notebook in notebooks %}
          <hr>
          <p class="notebook-box">{{ notebook[1] }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="box">
      <h3 style="margin-top: 0">Notebooks Shared With Me</h3>
      
      <hr>
      <div class="notelist">
        <div class="notebook-box">placeholder</div>
      </div>
    </div>
  {% endif %}
{% endblock %}