{% if session.username %}
  <div id="loggedin">
    <div>Logged in as {{ session.username|e }}</div>
    <form action="/logout" method="GET">
      <input type="submit" value="Logout"/>
    </form>
  </div>
{% else %}
  <h2 style="margin-top: 0;">Math Notebook</h2>
  <form id="login" action="/login" method="POST">
    <div>Username:<br>
    <input type="text" name="username"></div>
    <p>Password:<br>
    <input type="password" name="password"></p>
    <div>
      <input type="submit" value="Login">
      <button onclick="registerView(event)">Register</button>
    </div>
  </form>

  <script>
    function registerView(event) {
      event.preventDefault()
      window.location.href = '/register'
    }
  </script>
{% endif %}