{% extends "layout.html" %}

{% block login %}

  <div class="box">

    {% include "login.html" %}

  </div>

{% endblock %}

{% block content %}
  {% if session.username %}
    <div class="box">
      <div style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1em;
        ">
        <div style="display: flex;">
          <button onclick="back()">&lt;</button>
        </div>
        <div>
          <button onclick="delete_page()">Delete Page</button>
        </div>
      </div>
      <hr>
      <h2 style="margin: 0; padding: 0.3em;">{{page.title}}</h2>
      
    
      <div class="eq-list">
        {% for eq in equations %}
          <div name="{{eq.id}}" order="{{eq.order_num}}">
            <div class="eq-box" onclick="focusBlock(this)" >
              <textarea onfocusout="unfocusBlock(this)"
                class="edit-box"  
                style="
                  display: none;
                  width: 100%;
                  height: auto;
                  resize: vertical;"
                placeholder="Type here"
                oninput="blockChange(event)"
                >{{ eq.content|e }}</textarea>
                <div class="display-box">$${{ eq.content|e }}$$</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <script>
      function back() {
        window.location.href = '/notebook/{{notebook_id}}'
      }

      function delete_page() {
        const xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function () {
          if (xhttp.readyState === 4) {
            window.location.href = '/notebook/{{notebook_id}}'
          }
        }
        xhttp.open('DELETE', '/notebook/{{notebook_id}}/{{page.id}}', true)
        xhttp.send();
      }

      function blockChange(event) {
        const content = `$$${event.target.value}$$`
        event.target.parentElement.querySelector(".display-box").innerText = content
        MathJax.typeset()
      }

      function focusBlock(element) {
        element.parentElement.querySelector(".edit-box").style.display = "inline-block"
        element.parentElement.querySelector(".edit-box").focus()
      }

      function unfocusBlock(element) {
        element.style.display = "none"
      }

      function nextBlock(event) {

      }

      function newBlvock(event) {

      }

    </script>
  {% endif %}
{% endblock %}
