{% extends "layout.html" %}

{% block login %}

  <div class="box">

    {% include "login.html" %}

  </div>

{% endblock %}

{% block content %}
  {% if session.username %}
    <div class="box">
      <div style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1em;
        ">
        <div style="display: flex;">
          <button onclick="back()">&lt;</button>
        </div>
        <div>
          <button onclick="delete_page()">Delete Page</button>
        </div>
      </div>
      <hr>
      <button onclick="toggleShare(event)" style="margin: 1em 0 1em 0;">Share page</button>
      <div class="share-menu" style="display: none;">
        {% for usr in users %}
          <div style="margin-bottom: 1em;">
            <input type="checkbox" user="{{usr}}" oninput="sharePage(event)">
            <label for="{{usr}}">{{usr | e}}</label>
          </div>
        {% endfor %}
      </div>
      <hr>
      <h2 style="margin: 0; padding: 0.3em;">{{page.title}}</h2>
    
      <div class="eq-list">
        {% for eq in equations %}
          <div name="{{eq.id}}" order="{{eq.order_num}}">
            <div class="eq-box" onclick="focusBlock(this)" >
              <textarea onfocusout="unfocusBlock(this)"
                class="edit-box"  
                style="
                  display: none;
                  width: 100%;
                  height: 5em;
                  resize: vertical;"
                placeholder="Type here"
                oninput="blockChange(event)"
                >{{ eq.content|e }}</textarea>
                <div class="display-box">$${{ eq.content|e }}$$</div>
            </div>
          </div>
        {% endfor %}
      </div>
      <button onclick="newBlock(document.querySelector('.eq-list').lastElementChild)">New Equation</button>
    </div>

    <script>
      function back() {
        window.location.href = '/notebook/{{notebook_id}}'
      }

      function delete_page() {
        const xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function () {
          if (xhttp.readyState === 4) {
            window.location.href = '/notebook/{{notebook_id}}'
          }
        }
        xhttp.open('DELETE', '/notebook/{{notebook_id}}/{{page.id}}', true)
        xhttp.send();
      }

      function blockChange(event) {
        const content = `$$${event.target.value}$$`
        event.target.parentElement.querySelector(".display-box").innerText = content
        MathJax.typeset()

      }

      function focusBlock(element) {
        element.parentElement.querySelector(".edit-box").style.display = "inline-block"
        element.parentElement.querySelector(".edit-box").focus()
      }

      function unfocusBlock(element) {
        element.style.display = "none"

        const xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function () {
          if (xhttp.readyState == 4 && xhttp.status == "200") {
          }
        }

        xhttp.open('PUT', `/notebook/{{notebook_id}}/{{page.id}}/${element.parentElement.parentElement.getAttribute("name")}`, true)
        xhttp.setRequestHeader('Content-type','application/json; charset=utf-8');
        
        const data = {
          content: element.value,
          type: 't'
        }
        
        xhttp.send(JSON.stringify(data));
      }

      function nextBlock(event) {

      }

      function newBlock(element) {

        const xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function () {
          if (xhttp.readyState == 4 && xhttp.status == "200") {
            const equation = JSON.parse(this.responseText)
            
            const new_eq = document.createElement("div")
            new_eq.setAttribute("name", equation.id)
            new_eq.setAttribute("order", String(equation.order_num))
            new_eq.innerHTML = `
              <div class="eq-box" onclick="focusBlock(this)" >
                <textarea onfocusout="unfocusBlock(this)"
                  class="edit-box"
                  style="
                    display: none;
                    width: 100%;
                    height: 5em;
                    resize: vertical;"
                  placeholder="Type here"
                  oninput="blockChange(event)"
                  ></textarea>
                  <div class="display-box"></div>
              </div>
            `
            
            new_eq.querySelector('.edit-box').innerText = equation.content
            new_eq.querySelector('.display-box').innerText = `$$${equation.content}$$`

            document.querySelector(`[order='${equation.after}']`).after(new_eq)

            MathJax.typeset()

          }
        }

        xhttp.open('POST', `/notebook/{{notebook_id}}/{{page.id}}/${element.getAttribute("order")}`, true)
        xhttp.setRequestHeader('Content-type','application/json; charset=utf-8');
        
        const data = {
          content: "\\text{Write here}",
          type: 't'
        }
        
        xhttp.send(JSON.stringify(data));
      }

      function sharePage(event) {
        
        const shareto = event.target.getAttribute("user")
        
        if (event.target.checked) {
          const xhttp = new XMLHttpRequest()
          xhttp.open('POST', `/share/{{notebook_id}}/{{page.id}}/${shareto}`, true)
          xhttp.send()
        } else {
          const xhttp = new XMLHttpRequest()
          xhttp.open('DELETE', `/share/{{notebook_id}}/{{page.id}}/${shareto}`, true)
          xhttp.send()
        }
      }

      function toggleShare(event) {
        const menu = document.querySelector(".share-menu")
        menu.style.display = menu.style.display === 'none' ? 'block' : 'none'
      }
      
    </script>
  {% endif %}
{% endblock %}
