{% extends "layout.html" %}

{% block login %}

  <div class="box">

    {% include "login.html" %}

  </div>

{% endblock %}

{% block content %}
  {% if session.username %}
    <div class="box">
      <div style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1em;
        ">
        <div style="display: flex;">
          <button onclick="back()">&lt;</button>
        </div>
      </div>
      <hr>
      <h2 style="margin: 0; padding: 0.3em;">{{page.title}}</h2>
    
      <div class="eq-list">
        {% for eq in equations %}
          <div name="{{eq.id}}" order="{{eq.order_num}}">
            <div class="eq-box">
              <div class="display-box">$${{ eq.content|e }}$$</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <script>
      function back() {
        window.location.href = '/notebook/{{notebook_id}}'
      }      
    </script>
  {% endif %}
{% endblock %}
